#image {
    background-image: url(/logo.png);
    width: 100%;
    height: 1000px;
    border: 1px solid;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #FF9800;
}
body {
    padding: 0;
    margin: 0;  
}
#image a:hover {
    background-image: url(/start2.png);
    background-repeat: no-repeat;
}
#image a {
    width: 240px;
    height: 107px;
    left: 750px;
    top: 75px;
    z-index: 9;
    background-image: url(/start1.png);
    position: absolute;
    display: inline;
    background-repeat: no-repeat;
}